body {
	font-family: Montserray, sans-serif;
	background-color: aliceblue;
	background-color: #fff;
	width: 90%;
	padding: 2em;
	margin: auto;
	text-align: center;
}

h1 {
	line-height: .5em;
}

.trackerCanvas {
	background-color: #000;
	margin: auto;
}